h1 {
    color: red;
  }
  li {
    list-style-type: square;
  }
  .l2{
    color: orange;
  font-weight: bold;
  }
  li em {
    color: rebeccapurple;
  }
  h1 + p {
    font-size: 200%;
  }
  p span{
    color :red;
  }
  a:link {
    color: pink;
  }
  
  a:visited {
    color: green;
  }
  a:hover {
    text-decoration: none;
  }
  body h1 + p .l2 {
    color: yellow;
    background-color: black;
    padding: 5px;
  }
  
  